spring:
  application:
    name: check-access-log
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/spring_web?rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show-sql: true
        format_sql: true
        use_sql_comments: false
    open-in-view: false
  data:
    redis:
      host: localhost
      port: 6379